@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/banner.css");

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #2a1a5e;
	margin: 0px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: white;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	color: white;
}

h3,h4,h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	color: #f45905;
}

a {
	text-decoration: none;
}